---
import Layout from '@/layouts/layout.astro';
import HeroSection from '@/components/home/hero-section.astro';
import AboutSection from '@/components/home/about-section.astro';
import EventsSection from '@/components/home/events-section.astro';
import BlogSection from '@/components/home/blog-section.astro';
import MethodologySection from '@/components/home/methodology-section.astro';
import TestimonialsSection from '@/components/home/testimonials-section.astro';
import FaqSection from '@/components/home/faq-section.astro';
---

<Layout title="Colégio Imperatrice">
    <main class="flex min-h-screen flex-col items-center justify-between w-full overflow-x-hidden">
        <HeroSection />
        <AboutSection />
        <EventsSection />
        <BlogSection />
        <MethodologySection />
        <TestimonialsSection />
        <FaqSection />
    </main>
</Layout>
