---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Colégio Imperatrice" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="min-h-screen bg-gray-50">
            <header class="bg-white shadow-sm">
                <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
                    <h1 class="text-lg font-bold text-gray-900">Imperatrice</h1>
                </div>
            </header>
            <main>
			    <slot />
            </main>
		</div>
	</body>
</html>
